#customer-section,
#item-section{
    max-width: 900px;
    padding: 20px;
}

.input-card {
    border-radius: 10px;
    padding: 2vw;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.table-card {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
    border-radius: 10px;
    padding: 2vw;
}

